/* Estilos para el centro y modulo */
centro {
    font-weight: bold;
    font-size: 40px;
    color: #00698f;
    display: block;
  }
  
  modulo {
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
    display: block;
    background-color: black;
    text-align: center;
    font-weight: bold;

  }
  

  profesor {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    display: block;
    margin: 20px;   /* Espacio alrededor del elemento */
    padding: 15px;  /* Espacio dentro del elemento */
      
      
  }

  nome{
        font-weight: bold;
  }

  apelido{
    font-weight: bold;

  }


 temas{
    display: block;
    word-spacing: 150px;
 text-align: center;

 }

 alumno{
    
display: block;
border-top: 2px;
border-top-color: black;
border-top-style: solid;

 }

 alumno:last-child{
    display: block;
    border-bottom: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
      
 }
  